.pcontent{
  background-color: #FAFAFA;
}

.shd{
  margin: 0 auto;
  max-width: 1600px;
}

.section-heading {
  display: inline-block; 
  background-color: orange; 
  color: white; 
  padding: 0.5rem 1rem; 
  border-radius: 10px;
  text-align: center;
  margin: 0 auto;
  font-size: 1.5rem; 
}

